header {
  width: 100%;
  height: 200px;
  background-color: rgb(2, 98, 2);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  color:white;
  font-size: 6rem;
  display: inline-block;
}

.headerLink {
  margin: 10px;
  padding: 35px;
  padding-top: 110px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color:white;
}

.Link {
  color:white
}

.Link:hover {
  color: rgb(133, 234, 140);
}

.homeDiv {
  background-image: url("./assets/animals.jpg");
  background-color: green;
  width:100%;
  height:800px;
}

.welcomeText {
  margin:0px;
  font-size: xx-large;
  padding:20px;
  font-family: 'Courier New', Courier, monospace;
}

.homeTextDiv {
  background-color:beige;
  padding:30px;
  width:600px;
  height: 500px;
  margin-left:60vh;
}


/*----------------------------------------------------------------------------------------------
----------- Aminals Css ------------------------------------------------------------------------
----------------------------------------------------------------------------------------------*/

.animalSection {
  display:flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  padding-left: 30%;
  padding-bottom: 40px;
  background-color: rgb(2, 98, 2);
  font-family:'Courier New', Courier, monospace;
}

.animalDivs {
  width: 60%;
  text-align:center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(249, 174, 174);
}
.animalDivs .fed {
  
}

.helpAnimaltext {
  color: white;
  text-align:left;
}

.animalImage {
  border-radius: 10px;
}

.feedBtn {
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: green;
  color:white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.feedBtn:hover {
  background-color: rgb(2, 84, 2);
}

