header {
  width: 100%;
  height: 200px;
  background-color: rgb(2, 98, 2);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left:20px;
  color:white;
  font-size: 6rem;
  display: inline-block;
}

.headerLink {
  margin: 10px;
  padding: 35px;
  padding-top: 110px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color:white;
}

.Link {
  color:white;
  font-weight: bold;
}

.Link:hover {
  color: rgb(133, 234, 140);
}

.homeDiv {
  background-image: url("./assets/animals.jpg");
  background-color: green;
  width:100%;
  height:800px;
}

.welcomeText {
  margin:0px;
  font-size: xx-large;
  padding:20px;
  font-family: 'Courier New', Courier, monospace;
}

.homeTextDiv {
  background-color:beige;
  padding:30px;
  width:600px;
  height: 500px;
  margin-left:60vh;
}


/*-----------------------------------------------------------------------------------------------------------------
------------------------------ Aminals Css ------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------*/

.animalSection {
  display:flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  padding-left: 30%;
  padding-bottom: 40px;
  background-color: rgb(2, 98, 2);
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.animalDivs {
  width: 60%;
  text-align:center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(249, 174, 174);
  font-weight: bold;
  font-size: larger;
}

.animalFed{
  background-color: rgb(149, 247, 149);
}

.animalHungry{
  background-color: rgb(244, 244, 172);
}

.animalStarving{
  background-color: rgb(249, 174, 174);
}

.helpAnimaltext {
  color: white;
  text-align:left;
  font-weight: bold;
}

.animalImage {
  border-radius: 10px;
}

.animalInfoText {
  width: 700px;
  font-size:large;
}


/*--------------------------------------------------------------------------------------------------------------------
------------------------ Animal CSS ----------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------*/

.animalContainer {
  display:flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  padding-left: 30%;
  padding-bottom: 40px;
  background-color: rgb(2, 98, 2);
  font-family:'Courier New', Courier, monospace;
} 

.animalOne {
  width: 60%;
  text-align:center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  font-weight: bold;
  text-align: left;
}

.animalh3{
  font-family: larger;
  font-size:xx-large;
  font-family:'Courier New', Courier, monospace;
}

.feedBtn {
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: green;
  color:white;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.feedBtn:hover {
  background-color: rgb(2, 84, 2);
}

.feedBtn:disabled {
  background-color: grey;
}


/*------------------------------------------------------------------------------------------------------------------------
------------------ Style to StarvingDiv ----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------*/

#hungryAnimalDiv{
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(2, 98, 2);
  font-size:x-large;
  margin:0px;  
  border: rgb(2, 98, 2) solid 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.starving {
  display: block;
}

.notStarving {
  display: none; 
}

.hungryAnimalDivtext {
  margin: 0px;
  padding: 25px;
}

footer{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  color: white;
  background-color: rgb(2, 98, 2);
}

.footerText{
  margin:0px;
  padding:20px;
  text-align: end;
}